In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('AirQualityUCI.csv')

In [5]:
data= data.dropna()

In [6]:
data.reset_index(inplace=True)

In [7]:
data['Date'] = data['level_0'].apply(lambda x: x.split(';')[0])

In [8]:
data['Time'] = data['level_0'].apply(lambda x: x.split(';')[1])

In [9]:
data['Date'] = pd.to_datetime(data['Date'])

In [10]:
data['Weekday'] = data['Date'].dt.weekday
data['Month'] = data['Date'].dt.month

In [11]:
data['Morning'] = data['Time'][data['Time'] < '08.00.00']
data['Afternoon'] = data['Time'][(data['Time'] > '12.00.00')  & (data['Time'] < '16.00.00') ]
data['Evening'] = data['Time'][data['Time'] > '16.00.00']

In [21]:
data['Month'] = data['Date'].dt.month

In [22]:
data['Afternoon'] = data['Afternoon'].replace(np.nan,0)

In [23]:
data['Morning'] = data['Morning'].replace(np.nan,0)

In [24]:
data['Evening'] = data['Evening'].replace(np.nan,0)

In [25]:
data['Afternoon'] = data['Afternoon'].replace(data['Afternoon'][data['Afternoon'] != 0],1)

In [26]:
data['Morning'] = data['Morning'].replace(data['Morning'][data['Morning'] != 0],1)

In [27]:
data['Evening'] = data['Evening'].replace(data['Evening'][data['Evening']!=0],1)

In [28]:
data['Morning'].dtype

dtype('int64')

In [29]:
from sklearn import preprocessing

In [30]:
label_encoder = preprocessing.LabelEncoder()

In [31]:
data['Morning']=label_encoder.fit_transform(data['Morning'])

In [32]:
data['Afternoon']=label_encoder.fit_transform(data['Afternoon'])

In [33]:
data['Evening'] = label_encoder.fit_transform(data['Evening'])

In [34]:
data.head(100)

,level_0,level_1,level_2,level_3,level_4,Date;Time;CO(GT);PT08.S1(CO);NMHC(GT);C6H6(GT);PT08.S2(NMHC);NOx(GT);PT08.S3(NOx);NO2(GT);PT08.S4(NO2);PT08.S5(O3);T;RH;AH;;,Date,Time,Weekday,Month,Morning,Afternoon,Evening
0,10/03/2004;18.00.00;2,6;1360;150;11,9;1046;166;1056;113;1692;1268;13,6;48,9;0,7578;;,2004-10-03,18.00.00,6,10,0,0,1
1,10/03/2004;20.00.00;2,2;1402;88;9,0;939;131;1140;114;1555;1074;11,9;54,0;0,7502;;,2004-10-03,20.00.00,6,10,0,0,1
2,10/03/2004;21.00.00;2,2;1376;80;9,2;948;172;1092;122;1584;1203;11,0;60,0;0,7867;;,2004-10-03,21.00.00,6,10,0,0,1
3,10/03/2004;22.00.00;1,6;1272;51;6,5;836;131;1205;116;1490;1110;11,2;59,6;0,7888;;,2004-10-03,22.00.00,6,10,0,0,1
4,10/03/2004;23.00.00;1,2;1197;38;4,7;750;89;1337;96;1393;949;11,2;59,2;0,7848;;,2004-10-03,23.00.00,6,10,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,15/03/2004;10.00.00;5,8;1771;438;26,6;1470;394;622;157;2262;1973;17,4;45,6;0,8993;;,2004-03-15,10.00.00,0,3,0,0,0
96,15/03/2004;11.00.00;4,2;1564;334;20,1;1300;319;710;155;2029;1798;19,8;38,5;0,8801;;,2004-03-15,11.00.00,0,3,0,0,0
97,15/03/2004;12.00.00;3,1;1430;221;14,1;1120;201;831;134;1783;1522;22,0;34,1;0,8904;;,2004-03-15,12.00.00,0,3,0,0,0
98,15/03/2004;13.00.00;2,9;1417;207;14,9;1146;171;830;119;1831;1404;23,3;32,2;0,9096;;,2004-03-15,13.00.00,0,3,0,1,0
99,15/03/2004;14.00.00;2,9;1400;191;15,4;1162;159;838;111;1829;1263;23,9;30,0;0,8757;;,2004-03-15,14.00.00,0,3,0,1,0